body {
	background: gray;
	padding: 20px;
}

.add-panel {
  float: left;
  width: 30%;
  background: linen;
}

.main-panel {
  float: left;
  width: 70%;
  background: beige;
}

.candidates-list {
	background: azure;
}

.candidate-element {
	background: mintcream;
}